<div class="modal-header">
    <h4 class="modal-title pull-left">เพิ่มรายการ</h4>
</div>


<div class="modal-body p-4">
    <div class="row">
        <div class="col-12">

            <form class="space-y-3" [formGroup]="addProductFrom" #addProductNgForm="ngForm">
                <mat-form-field class="w-full">
                    <mat-label>รหัสสินค้า</mat-label>
                    <select matNativeControl required [formControlName]="'codeProduct'" [required]="true"
                        placeholder="เลือกรายการที่ต้องการ" [(ngModel)]="codeProduct" >
                        <option value="{{product.code}} - {{product.name}}" *ngFor="let product of data"
                        >{{product.code}} - {{product.name}}</option>
                        <!-- <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option> -->
                    </select>
                    <mat-error *ngIf="addProductFrom.get('codeProduct').hasError('required')">
                        กรุณาเลือกรายการ
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <input matInput [formControlName]="'amount'" [required]="true" [(ngModel)]="amount">
                    <mat-label>จำนวน</mat-label>
                    <mat-error *ngIf="addProductFrom.get('amount').hasError('required')">
                        กรุณาระบุจำนวน
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    100 <input matInput [readonly]="true">
                    <mat-label>จำนวนสินค้าในสต็อค</mat-label>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <input matInput [formControlName]="'price'" [required]="true" [(ngModel)]="price">
                    <mat-label>ราคา(บาท)</mat-label>
                    <mat-error *ngIf="addProductFrom.get('price').hasError('required')">
                        กรุณาระบุราคา
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    0 <input matInput [readonly]="true">
                    <mat-label>ราคาเพิ่มเติม</mat-label>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <input matInput [formControlName]="'comment'" [required]="false" >
                    <mat-label>คอมเม้น</mat-label>
                </mat-form-field>
                <div class="flex items-center justify-end">
                    <button class="ml-2 " mat-flat-button [color]="'primary'" (click)="clearForm()"
                        [disabled]="addProductFrom.pristine || addProductFrom.untouched">
                        รีเซ็ต
                    </button>
                    <button class="ml-2 " mat-flat-button [color]="'warn'" (click)="close()">
                        ยกเลิก
                    </button>
                    <button class="ml-2 " mat-flat-button [color]="'accent'" (click)="openbillFormSubmit()">
                        เพิ่ม
                    </button>
                </div>

            </form>
        </div>
    </div>

</div>