<!-- Main -->
<div class="flex flex-col flex-auto items-center p-6 sm:p-10">
    <div class="flex flex-col w-full max-w-4xl">
        <div class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight">
            SummaryBill
        </div>
        <!-- Form -->
        <div class="mt-8 sm:mt-12 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card">
            <label>รายการสินค้า : </label><br><br>
            <div class="flex items-center justify-center">
                <!-- <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>add</mat-icon>
                    </button> -->
            </div><br><br>
            <mat-divider></mat-divider>
            <div class="flex items-start justify-between m-6 mb-0">
                <label>ค่าส่งสุทธิ : </label>
                <label class="flex items-center justify-end">0.0 บาท </label>
            </div>
            <div class="flex items-start justify-between m-6 mb-0">
                <label>ส่วนลด : </label>
                <label class="flex items-center justify-end">0.0 บาท </label>
            </div>
            <div class="flex items-start justify-between m-6 mb-0">
                <label>ยอดสุทธิ : </label>
                <label class="flex items-center justify-end">0.0 บาท </label>
            </div>
            <mat-divider></mat-divider><br><br>




            <div class="flex items-center justify-end">
                <!-- <button class="ml-2 " mat-flat-button [color]="'warn'" >
                    ยกเลิก
                </button> -->
                <button class="ml-2 " mat-flat-button [color]="'accent'">
                    แจ้งโอน
                </button>
            </div>
        </div>
    </div>
</div>