<!-- Main -->
<div class="flex flex-col flex-auto items-center p-6 sm:p-10">
    <div class="flex flex-col w-full max-w-4xl">
        <div class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight">
            SummaryOrder
        </div>
        <!-- Form -->
        <div class="mt-8 sm:mt-12 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card">
            
            <div class="row">
                <mat-form-field class="w-full">
                    Nontawat
                    <input  matInput disabled="disabled">
                    <mat-label>Facebook</mat-label>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="w-full">
                    Nontawat
                    <input  matInput disabled="disabled">
                    <mat-label>ชื่อผู้รับ</mat-label>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="w-full">
                    0967842208
                    <input  matInput disabled="disabled">
                    <mat-label>เบอร์โทรติดต่อ</mat-label>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="w-full">
                    111/1
                    <input  matInput disabled="disabled">
                    <mat-label>ที่อยู่จัดส่ง</mat-label>
                </mat-form-field>
            </div>
            <mat-divider></mat-divider><br>
            <mat-label>หมายเหตุ : </mat-label>
            <!-- <div class="flex items-start justify-between m-6 mb-0">
                <label>วันที่สร้างบิล : </label>
                <label class="flex items-center justify-end">1/1/2022 </label>
            </div> -->
            <div class="flex items-start justify-between m-6 mb-0">
                <label>วันที่โอน : </label>
                <label class="flex items-center justify-end">1/1/2022 </label>
            </div>
            <div class="flex items-start justify-between m-6 mb-0">
                <label>จำนวนสินค้า : </label>
                <label class="flex items-center justify-end">1 ชิ้น</label>
            </div>
            <div class="flex items-start justify-between m-6 mb-0">
                <label>วิธีจัดส่ง : </label>
                <label class="flex items-center justify-end">COD </label>
            </div>
            <div class="flex items-start justify-between m-6 mb-0">
                <label>ขนส่ง : </label>
                <label class="flex items-center justify-end">J&T Expres </label>
            </div>            <div class="flex items-start justify-between m-6 mb-0">
                <label>เลขพัสดุ : </label>
                <label class="flex items-center justify-end"> LLA0000111111</label>
            </div>
        </div>
    </div>
</div>
